.hotels-cord {
    display : flex;
    flex-wrap: wrap;
}

.search-word {
    text-align : center;
}

.btn-back {
    float: right;
    padding-right: 80px;
}

.hotels-cord-img img{
    height: 200px;
}